/* src/App.css */
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.SearchContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchBar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px; /* Add some spacing between input fields */
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.DaysBack {
  display: flex;
  align-items: center;
  margin-top: 5px; /* Add some spacing between input fields */
}
