src/App.css
.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerlogo{ 
  height: 0vh;
  width: 5000vw; 
  justify-content: center;
  }


h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


